* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
@font-face {
    font-family: console;
    src: url(./fonts/Inconsolata.otf);
}
#root {
    width: 100%;
    height: 100%;
    font-family: 'consolas';
}

.App {
    outline: none;
    height: 100%;
    line-height: 1.4rem;
    overflow-x: hidden;
    word-wrap: break-word;
}

/*The input div*/
#Input {
    display: block;
    width: 100%;
    z-index: 10;
    position: relative;
}
  
/*The input div prefix content*/
#Input:before {
    position: absolute;
    content: '>';
    font-weight: bolder;
    background-size: contain;
    top: 0.5em;
    left: 0.5em;
    width: 14px;
    height: 14px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
  
/*The input*/
#Input .cli {
    resize: none;
    background: none;
    border: 0;
    padding: 0.6rem;
    padding-left: 1.4rem;
    display: block;
    width: 100%;
    outline: none;
    line-height: inherit;
    border-bottom: 1px solid #eee;
}

/*The Line div*/
.Line {
    line-height: 1.1rem;
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 0.6rem;
    padding-left: 1.4rem;
}
  
.Line .input,
.Line .output {
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    position: relative;
    padding-left: 1.4rem;
}
  
.Line .prompt:before {
    position: absolute;
    content: '>';
    background-size: contain;
    top: 0.0em;
    left: 0.0em;
    width: 12px;
    height: 12px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.Line .output:before {
    content: '<';
}
  
.Line .output.info:before {
    content: '-';
}
  
.Line .output.warning:before {
    content: '!';
}

.Line .error.output:before {
    content: 'x';
}

.term-data-header {
    color: #1976d2;
    cursor: pointer;
    margin-right:15px;
    margin-top:auto;
    margin-bottom:auto;
}

.term-data-header:hover {
    text-decoration: underline;
}

.term-data-body {
    display:block;
    font-family: "consolas";
    font-style: italic;
    white-space: pre;
    padding:0.5em;
}
  
.error {
    color: #B33;
}
  
.warning {
    color: #BB2;
}
  
.string {
    color: #4CAF50;
}
  
.number {
    color: #0000c0;
}
  
.undefined {
    color: #aaa;
}