body,html,#root {
    background: rgb(30,30,30);
    color: #d4d4d4;
}

.navbar {
    background-color: rgb(37, 37, 38);
}

.sidebar {
    background-color: rgb(51, 51, 51);
}

.sidebar .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.5);
}
  
.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
}

.card {
    background: rgb(34,34,34);
    border-color: rgb(15, 9, 9);
}

.dropdown-item.active, 
.dropdown-item:active {
  background-color: rgb(100, 100, 100);
}

#Input {
    background: rgb(30,30,30);
}

#Input .cli {
    color: #d4d4d4;
    border-bottom: 1px solid rgb(51, 51, 51);
}

.Line {
    border-bottom: 1px solid hsl(0, 0%, 20%);
}

  
.undefined {
    color: #aaa;
}
