
body,html,#root {
    background: #FBFBFB;
}

.navbar {
    background-color: rgb(44, 44, 44);
}

.sidebar {
    background-color: rgb(220, 220, 220);
}

.sidebar .nav-item .nav-link {
    color: rgba(0, 0, 0, 0.5);
}
  
.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
    color: rgba(0, 0, 0, 0.75);
}

.card {
    background: rgb(255, 255, 255);
    color: rgb(0,0,0);
}

#Input {
    border-bottom: 1px solid rgb(170, 171, 184);
    -webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.4);
            box-shadow: 0px 1px 1px rgba(255,255,255,0.4);
}

#Input .cli {
    border-bottom: 1px solid rgb(238, 238, 238);
}

.Line {
    border-bottom: 1px solid rgb(238, 238, 238);
}

.dropdown-item.active, 
.dropdown-item:active {
  background-color: rgb(100, 110, 93);
}
