body,html,#root {
    background-color: #e7e9dc;
    color: #4e4f43;
}

.navbar {
    background-color: rgb(66, 66, 66);
}

.sidebar {
    background-color: rgb(199,201,184);
}

.sidebar .nav-item .nav-link {
    color: rgba(0, 0, 0, 0.5);
}
  
.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
    color: rgba(0, 0, 0, 0.75);
}

.card {
    background-color: #e7e9dc;
}

.card-header {
    background-color: rgb(199,201,184);
}

#Input {
    border-bottom: 1px solid rgb(170, 171, 184);
    -webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.4);
            box-shadow: 0px 1px 1px rgba(255,255,255,0.4);
}

#Input .cli {
    border-bottom: 1px solid rgb(199,201,184);
}

.Line {
    border-bottom: 1px solid rgb(199,201,184);
}

.card {
    border-color: rgb(210,211,198);
}

.dropdown-item.active, 
.dropdown-item:active {
  background-color: hsl(65, 8%, 40%);
}
  
.error {
    color: #4e4f43;
}
  
.warning {
    color: #4e4f43;
}


.string {
    color: #4e4f43;
}

.number {
    color: #4e4f43;
}
  
.undefined {
    color: #4e4f43;
}
